@import url("https://fonts.googleapis.com/css2?family=Archivo&family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&family=Roboto:wght@300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .section-header {
    @apply text-[3.5rem] md:text-[3.75rem] lg:text-[4rem] text-noux-dark-purple;
  }
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.outlined-text {
  -webkit-text-stroke: 2px white; /* Adjust the width and color of the outline */
  color: transparent;
}
